@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@700&display=swap');

body{
    background-color:  #FEDBD0;
}

.heading-h1{
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}

.heading-h3{
    text-align: center;
    font-family: 'Red Hat Mono', monospace;
    font-size: 20px;
}

.heading-h5{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.heading-h5{
    text-align: center;
    align-items: center;
    margin-top: 1px;
}

.container{
    width: 75%;
    display: grid;
    padding-left: 40px;
    grid-template-columns: repeat(auto-fit,minmax(240px, 400fr));
    grid-gap: 60px;
    /* grid-auto-rows: 80px; */
    align-content: center;
    justify-content: center;
}

.box{
    height: 70px;
    color: black;
    position: relative;
    border-radius: 25px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
}

.box a{
    text-align: center;
}

html {
	scroll-behavior: smooth;
} 

h2{
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    justify-content: center;
}

.link{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 80px;
}

.footer{
    display: block;
    padding: 6% 10%;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Estonia', cursive;
    font-size: 25px;
}

@media screen and (max-width: 240px) {
    .box{
        text-align: center;
        margin-left: 5px;
    }
    .one-two-one{
        text-align:center;
    }
    a{
        padding-right: 180px;
    }
}

.anchor{
    margin: auto;
    text-align: center;
    justify-content: center;
}